[submodule "submodules/xelb"]
	path = submodules/xelb
	url = git@github.com:ch11ng/xelb.git
[submodule "submodules/xelb-util"]
	path = submodules/xelb-util
	url = git@github.com:ch11ng/xelb-util.git
[submodule "submodules/exim"]
	path = submodules/exim
	url = git@github.com:ch11ng/exim.git
[submodule "submodules/exwm"]
	path = submodules/exwm
	url = git@github.com:ch11ng/exwm.git
